<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Angular App</title>
</head>
<body ng-app="myApp">
	<div ng-controller="myCtrl">
		<h2>Show all the increments/transactions/loans</h2>
		<input type="text" ng-model="search.amount" placeholder="Search by amount"/>
		<table>
			<tr ng-repeat="increment in employee.increments | filter:search">
			<td>{{increment.id}}</td>
			<td>{{increment.amount}}</td>
			<td>{{increment.incrementDate | date:'medium'}}</td>
			</tr>
		</table>
		
		
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
	<script>
		var app = angular.module('myApp', [])
		app.controller('myCtrl', function($scope, $http){
			$http({
				url: 'mvc/api/employee/1',
				method: 'GET'
			}).then(res => {
				console.log(res.data)
				$scope.employee= res.data
			})
			
			
			
		})
	
	</script>
</body>
</html>