<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Apply Increment</title>

<style>
        .has-noerror {
    border: 2px solid green;
}
.has-error {
    border: 2px solid red;
}
.error {
   color:red;
}
        </style>
</head>
<body ng-app>

   <form method="post" action="increment" name="incrementForm">    
    <table >    
     <tr>    
      <td>Amount : </td>   
      <td>
          <input type="number" name="amount"  ng-model="amount" required="true" ng-class="{ 'has-error' : incrementForm.amount.$invalid && !incrementForm.amount.$pristine }"/>
          <strong class="error" ng-show="incrementForm.amount.$invalid && !incrementForm.amount.$pristine" class="help-block">Amount field is required and should be >0</strong>  	
      </td>  
       <td><input type="text" name="empid" value="<%=empid %>" hidden/></td>  
     </tr>      
     <tr>    
      <td colspan="2">
          <input ng-disabled="incrementForm.$invalid" type="submit" value="Apply Increment" />
                    </td>    
     </tr>    
    </table>    
   </form>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>

</body>
</html>