<html>
<head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.css"/>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <title>Success Page</title>
</head>
<body>
    <div class="container">

            <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a href="/#!/">Show Employees</a></li>
                    <li role="presentation"><a href="/#!/addEmployee">Add Employee</a></li>
    
        </ul>
        <h2>Successfully Inserted employee <%=name %></h2>
    </div>

     
</body>
</html>