<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Angular App</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.css"/>
</head>
<body ng-app="myApp">
	<div ng-controller="myCtrl">
		<h2>Show all the employees</h2>
		<input type="text" ng-model="search.name" placeholder="Search by name"/>
		<table>
			<tr ng-repeat="employee in employees | filter:search">
			<td><a href="employee/{{employee._id}}">{{employee.name}}</a></td>
			<td>{{employee.salary}}</td>
			</tr>
		</table>
		
		
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
	<script>
		var app = angular.module('myApp', [])
		app.controller('myCtrl', function($scope, $http){
			$http({
				url: 'employees',
				method: 'GET'
			}).then(res => {
				console.log(res.data)
				$scope.employees= res.data
			})
			
			
			
		})
	
	</script>
</body>
</html>